.keyboard-widget {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}

.ivory {
  background: white;
  border: 1px solid #333;
  height: 100%;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  transition: background 0.1s;
  position: relative;
  z-index: 1;
}

.ebony {
  background: black;
  border: 1px solid #333;
  height: 70%;
  border-radius: 4px;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  transition: background 0.1s;
  position: absolute;
  z-index: 2;
  top: 0;
}
